<div class="row">
  <div class="large-12 columns lightcontainer">
    <div class="row servicemasterbackground">
      <div class="large-3 columns">
        <br>
      </div>
      <div class="large-6 columns text-center">
        <%= image_tag('servicemastercasestudylogo.jpg', class: "casestudylogo") %>
      </div>
      <div class="large-3 columns">
        <br>
      </div>
    </div><br>
    <div class="row pinkcontainer content padding2v">
      <div class="large-8 columns content"><br>
        <p class="whitetextsmall3 font11">Customer: <b>ServiceMaster</b><br></p>
        <p class="whitetextsmall3 font11">Project: <b>ServiceMaster</b> Web Shops</br></p>
        <p class="whitetextsmall3 font11">Business: Commercial &amp; Residential Cleaning, Lawn Treatment, Furniture Restoration</br></p>
      </div>
      <div class="large-4 columns content"><br>
        <p class="whitetextsmall3 font11">Timescale: 2005 to present<br></p>
        <p class="whitetextsmall3 font11">Region: UK<br></p>
        <p class="whitetextsmall3 font11">Locations: 450+ <br></p>        
      </div>
    </div>
  </div>
</div>
 
<div class="row lightcontainer">
  <div class="large-1 columns">
    <br>
  </div>
  <div class="large-10 columns content">
    <div class="problemtextarea">
      <p>ServiceMaster’s origins are in Chicago in 1929, when a former minor league baseball player, Marion E. Wade started a moth proofing company. Today ServiceMaster may be a Fortune 500 company, yet it still prides itself on its original ideals of integrity, responsibility, co-operation and mutual respect.</p>
      <p>The UK Company celebrated its 50th Anniversary in 2010, one of the most successful franchise operations in the UK with over 400 business owners across its four brands:</p>
      <ul>
        <li>ServiceMaster Clean</li>
        <li>Merry Maids</li>
        <li>Trugreen</li>
        <li>Furniture Medic</li>
      </ul>
 
    <h4>The Problem</h4>
    <p>It’s a challenge for any franchise to control brand and product consistency across a large  network. For the extremely successful ServiceMaster it means having to handle a complex range of operational and marketing collateral across four very different brands. This wasn’t easy and required a great deal of centralised administration.</p>
    <p>Franchisees are not typically sales and marketing specialists, their knowledge and experience is normally within the service or product they provide. Ensuring the consistency of the brand identity across such a huge network was a constant challenge with many of the franchisees not fully understanding how these brand identities should be used to best advantage.</p>
    <p>With all of these franchisees being owner operators, there was also the constant issue of managing a payment mechanism across its supplier base.</p>
</p>
    </div>
  </div>
  <div class="large-1 columns">
    <br>
  </div>
</div>
 
<div class="row cyancontainer padding3v">
  <div class="large-1 columns">
    <br>
  </div>
  <div class="large-10 columns">
    <div class="quotebox text-center">
      <h4 class="white thin">"ServiceMaster have worked with besley &amp; copp for over 5 years now, we have always experienced superb customer service, on top of professional service, quality and value for money. It’s a pleasure to work with you!"</h4>
      <h5 class="quoteauthor">Wendy Buck, Administration Manager, ServiceMaster
</h5>
    </div>
  </div>
  <div class="large-1 columns">
    <br>
  </div>
</div>
 
<div class="row lightcontainer">
  <div class="large-1 columns">
    <br>
  </div>
  <div class="large-10 columns content">
    <div class="problemtextarea">
    <h4>The Solution</h4>
    <p>To enable continued business growth, ServiceMaster contracted the services of besley &amp; copp, a partner with knowledge of supplying franchise focused procurement solutions.</p>
    <p>Following an initial audit that looked at the objectives of the company and the needs of the franchisee network, besley &amp; copp built the fully branded; web based ‘ServiceMaster Marketing Resource’ website powered by our dynamic eSupply Portal.</p>
    <p>The modular nature of the eSupply Portal enables it to be tailored to the clients specific needs as well as being a scalable platform that adapts to the changing needs of the business. The whole ServiceMaster network of over 400 franchisees now has one central resource for all operational and marketing print, which can be accessed from anywhere in the world. A fast Internet connection is all that is needed.</p>
    <p>This has empowered the individual franchisees, to access a wide range of high quality marketing material which can be regionally personalised, yet stay on brand. The problem of payment has been solved by installing credit and debit card payment facility for franchisees.</p>
    <p>In turn ServiceMaster as the franchisor, can control the use of the brand and the message used across each of the four branded networks. All marketing and operational print now comes from one central point, guaranteeing the highest quality and consistency while reducing the amount of stock that needs to be held.</p>
    <div class="row">
      <div class="large-4 columns">
        <p>Network-wide benefits include</p>
        <ul>
          <li>De-centralised ordering process</li>
          <li>Reduce central administration</li>
          <li>Improved buying power over all four brands</li>
          <li>Comprehensive reporting</li>
          <li>Brand &amp; Identity control</li>
        </ul>
      </div>
      <div class="large-8 columns text-center">
        <p class=" casestudygrey">The eSupply Portal’s scalable platform has already been extended so that the ServiceMaster network can now access, not just operational and marketing print, but purchase an extended product range that includes uniforms and promotional gifts. A complete print management solution.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="large-1 columns">
    <br>
  </div>
</div>
 
<div class="row purplecontainer">
  <div class="large-3 columns">
    <br>
  </div>
  <div class="large-6 columns center content">
    <%= image_tag('servicemasterbigbrowser.png', class: "bigbrowser") %>
  </div>
  <div class="large-3 columns">
    <br>
  </div>
</div>