<div class="row sidecolumndark">
  <div class="large-12 columns lightcontainer">
    <div class="row boschbackground">
      <div class="boschbackground">
        <div class="large-3 columns">
          <br>
        </div>
        <div class="large-6 columns text-center">
          <%= image_tag('boschlogohover.png', class: "casestudylogo boschbackdrop") %>
        </div>
        <div class="large-3 columns">
          <br>
        </div>
      </div>
    </div><br>
    <div class="row pinkcontainer padding2v content">
      <div class="large-8 columns content"><br>
        <p class="whitetextsmall3 font11">Customer: <b>Bosch Car Services</b><br></p>
        <p class="whitetextsmall3 font11">Project: <b>Bosch Car Services</b> Web Shop</br></p>
        <p class="whitetextsmall3 font11">Business: Nationwide Car Service Garages</br></p>
      </div>
      <div class="large-4 columns content"><br>
        <p class="whitetextsmall3 font11">Timescale: November 2011 To Present <br></p>
        <p class="whitetextsmall3 font11">Region: UK &amp; Eire<br></p>
        <p class="whitetextsmall3 font11">Locations: 400+<br></p>        
      </div>
    </div>
 
    <div class="row">
      <div class="large-1 columns"><br></div>
        <div class="large-10 columns content">
          <div class="problemtextarea">
            <p>The very first Bosch Service opened in Hamburg, Germany in 1921. Today it comprises a huge network of over 15,000 independently owned garages across more than 140 countries.
            Bosch Car Service garages operate similarly to a franchise network, providing vehicle maintenance, repairs and diagnostics to an extremely high standard. Garages are able to carry out work under dealer warranty, with all work approved by the Trading Standards Institute.</p>
            <h4>The Problem</h4>
            <p>With over 450+ Bosch Car Service centres in the UK &amp; Eire, managing the brand requirements of the network was difficult, and with complacency creeping in, they became more and more concerned about their supplier and the service levels that they were receiving. </p>
            <div class="large-4 columns">
              <ul>
                <li>Lack of I.T investment</li>
                <li>Poor brand communication</li>
                <li>High product prices and low-quality</li>
                <li>Unacceptable lead-times</li>
                <li>Lack of customer service</li>
              </ul>
            </div>
            <div class="large-8 columns text-center">
              <p class="margin1v casestudygrey">With a limited product range in place, marketing opportunities were being lost by both Bosch Car Services and their garages. Feedback from the garages was very negative. Things needed to change!</p>
            </div>
 
          </div>
        </div>
      <div class="large-1 columns"><br></div>
    </div>
 
    <div class="row">
      <div class="large-1 columns"><br></div>
      <div class="large-10 columns content">
        <div class="problemtextarea">
          <h4>The Solution</h4>
          <p>In 2011, Bosch Car Service and besley &amp; copp started discussions about designing, implementing and supporting a new eSupply Portal solution, capable of delivering a full range of products and services across the entire UK and Eire network, including making everything available in multiple currencies.</p>
          <p>The initial task was to move the existing Bosch Car Services ‘WebShop’ onto besley &amp; copp’s powerful eSupply Portal platform. The modular nature of the eSupply Portal gave Bosch exactly what they needed at the time, but more importantly gave them greater scope for development in the future.</p>
          <p>Working alongside our dedicated account management team, they quickly identified the requirements and together established a comprehensive and accessable product range including:</p>
          <div class="row">
            <div class="large-4 columns">
              <ul>
               <li>Branded promotional merchandise</li>
               <li>Point of sale</li>
               <li>Operational print</li>
               <li>Marketing print</li>
               <li>Branded workwear</li>
               <li>Desktop stationery</li>
               <li>Media storage</li>
             </ul>
            </div>
             <div class="large-8 columns text-center">
              <p class="margin2b casestudygrey">The eSupply Portal also gives Bosch huge potential to aggregate cost across the whole network, and with over 450 garages, this is essential. Aside from the obvious volume savings, central administration costs have been reduced as responsibility for procurement has been divolved to a local level. Network controls have also been improved.</p>
            </div>
          </div>
          <p>The flexibility and scalability of the eSupply Portal allows huge scope to support the growing network. As new initiatives are launched, besley &amp; copp is able to scale the solution to the needs of the Bosch Car Services network.</p>
          <p>As a pro-active partner, besley &amp; copp also supports Bosch Car Services by attending their annual regional conferences. Aside from making garages aware of new products and services, the conferences enable us to gain valuable insight from the users which informs our on-going development program. There is nothing better than first-hand experience to help you deliver a first class service!</p>
 
        </div>
      </div>
      <div class="large-1 columns"><br></div>
    </div>
 
    <div class="row purplecontainer">
      <div class="large-3 columns"><br></div>
      <div class="large-6 columns center content">
        <%= image_tag('boschbigbrowser.png', class: "bigbrowser") %>
      </div>
      <div class="large-3 columns"><br></div>
    </div>
 
  </div>
</div>