 
<div class="row">
  <div class="large-12 columns lightcontainer">
    <div class="row thebestofbackground">
      <div class="large-3 columns">
        <br>
      </div>
      <div class="large-6 columns text-center">
        <%= image_tag('thebestofcasestudylogo.png', class: "casestudylogo padding3v") %>
      </div>
      <div class="large-3 columns">
        <br>
      </div>
    </div><br>
    <div class="row pinkcontainer padding2v content">
      <div class="large-6 columns content"><br>
        <p class="whitetextsmall3 font11">Customer: <b>thebestof</b><br></p>
        <p class="whitetextsmall3 font11">Project: <b>thebestof</b> Web Shop</br></p>
        <p class="whitetextsmall3 font11">Business: Local Business Promotion &amp; Support</br></p>
      </div>
      <div class="large-6 columns content"><br>
        <p class="whitetextsmall3 font11">Timescale: September 2013 to present<br></p>
        <p class="whitetextsmall3 font11">Region: UK<br></p>
        <p class="whitetextsmall3 font11">Locations: 150+<br></p>        
      </div>
    </div>
  </div>
</div>
 
<div class="row lightcontainer">
  <div class="large-1 columns">
    <br>
  </div>
  <div class="large-10 columns content">
    <div class="problemtextarea">
    <p>Established in 2002 as 'My Mag', thebestof has come along way from their early roots of helping communities set up and run their own local magazines.</p>
    <p>With the birth of thebestof in 2005, Michelle Downey and her highly successful franchise network have been helping 1000’s of local businesses nationwide be ‘the best’ in their area by building on community spirit and dynamic local promotion. With over 150 franchise regions and growing, thebestof is a true franchise success story, simply “Making local life better for everyone in the community..”</p>
 
    <h4>The Problem</h4>
    <p>When your business involves being the best marketeer in town, without a doubt you need supply chain that you can rely on to support new initiatives and business development. It’s not rocket science!
    <p>Whilst thebestof was already ahead of the game with franchisee technology, it gradually became clear that as technological expectations rose, its existing supplier fell behind with innovation and that a change was needed. Poor franchisee feedback, continual price rises and inconsistent quality certainly didn’t help. </p>
    <p>In addition, with all of their franchisees being owner operators, there was also the issue of managing a payment mechanism across its network.</p>
</p>
    </div>
  </div>
  <div class="large-1 columns">
    <br>
  </div>
</div>
 
<div class="row lightcontainer">
  <div class="large-1 columns">
    <br>
  </div>
  <div class="large-10 columns content">
    <div class="problemtextarea">
    <h4>The Solution</h4>
    <p>It’s a challenge for any franchisor to control their brand and product consistency across a large network, but with the eSupply Portal and besley &amp; copp, thebestof have achieved this. </p>
    <p>With its experience in the franchise industry, besley &amp; copp brought a fresh approach to the table. With a new branded eSupply Portal, thebestof could now offer it’s franchisees a larger range of personalised marketing material and design resources. This was all backed up by a partner committed to on-going investment and innovation. </p>
    <p>The new improved solution enabled thebestof network to offer greater regional design flexibility reducing the reliance on their central resources, reducing administration and costs. With the addition of a new credit card facility, franchisee payments could be handled safely and securely, taking away any central liability.</p>
    <p>With personalised user profiles and interactive design templates, thebestof can now deliver centralised marketing collateral to their network, yet retain control over the local personalisation. From marketing and operational print through to promotional merchandise, besley &amp; copp have given thebestof a single-source solution, supporting rapid and scalable growth.</p>
    <div class="row">
      <div class="large-4 columns">
        <p>Network-wide benefits include:</p>
        <ul>
          <li>De-centralised ordering process</li>
          <li>Reduced central administration</li>
          <li>Improved buying power</li>
          <li>Comprehensive reporting</li>
          <li>Brand &amp; identity control</li>
        </ul>
      </div>
      <div class="large-8 columns">
        <p class="margin2v casestudygrey">The franchisees now have a wider range of high quality marketing collateral which can be highly personalised, helping them to stay on brand and on budget.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="large-1 columns">
    <br>
  </div>
</div>
 
<div class="row purplecontainer">
  <div class="large-3 columns">
    <br>
  </div>
  <div class="large-6 columns center content">
    <%= image_tag('thebestofbigbrowser.png', class: "bigbrowser") %>
  </div>
  <div class="large-3 columns">
    <br>
  </div>
</div>